node_modules
.env
.DS_Store
dist
dist-ssr
*.local

.directory
.vscode/
.idea/

# Quasar build artifacts (recreated on each dev/build)
**/.quasar

csrf*.jpg

tmp
**/.tmp
release

.vs

logs
*.log
npm-debug.log*

.cursor/

config.js

# Capacitor build artifacts (recreated on each build:ios)
/student/src-capacitor/www/
