site_name: Next-Exam Handbuch
nav:
  - Home: index.md
  - Teacher - Grundlagen: teacher.md
  - Student - Grundlagen: student.md
  - Erweiterte Funktionen: advanced.md
  - Fehlerbehandlung: error.md
       
theme:
    name: material
    favicon: img/favicon.png

    palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: green
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - glightbox

markdown_extensions:
  - md_in_html
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - toc:
      toc_depth: 3

extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.